CT_CONFIG_VERSION="3"
CT_STRIP_TARGET_TOOLCHAIN_EXECUTABLES=y
CT_USE_MIRROR=y
CT_ARCH_MIPS=y
CT_ARCH_ARCH="mips1"
CT_ARCH_FLOAT_SW=y
CT_STATIC_TOOLCHAIN=y
CT_TARGET_VENDOR="gnu"
CT_TOOLCHAIN_ENABLE_NLS=y
CT_KERNEL_LINUX=y
CT_LINUX_V_3_4=y
CT_BINUTILS_FOR_TARGET=y
CT_LIBC_UCLIBC=y
CT_LIBC_UCLIBC_LOCALES=y
CT_LIBC_UCLIBC_LIBICONV=y
CT_LIBC_UCLIBC_IPV6=y
CT_LIBC_UCLIBC_FENV=y
CT_GCC_V_7=y
CT_CC_GCC_LIBMUDFLAP=y
CT_CC_GCC_LIBGOMP=y
CT_CC_GCC_LIBSSP=y
CT_CC_GCC_LIBQUADMATH=y
CT_CC_GCC_mips_plt=y
CT_CC_LANG_CXX=y
CT_CC_LANG_FORTRAN=y
CT_DEBUG_DUMA=y
CT_DEBUG_GDB=y
CT_DEBUG_STRACE=y
CT_COMP_LIBS_LIBELF=y
CT_ZLIB_NEEDED=y
CT_COMP_TOOLS_FOR_HOST=y
CT_COMP_TOOLS_AUTOCONF=y
CT_COMP_TOOLS_AUTOMAKE=y
CT_COMP_TOOLS_BISON=y
CT_COMP_TOOLS_DTC=y
CT_COMP_TOOLS_LIBTOOL=y
CT_COMP_TOOLS_M4=y
CT_COMP_TOOLS_MAKE=y
